#contact {

  .half-pane {

    box-sizing: border-box;

    &.right {

      padding: 30px;

    }

  }

}

#contact-form {

  width: 100%;

  h1 {

    text-align: center;
    // font-size: 30px;
    margin-bottom: 30px;

  }

  input[type="text"],
  input[type="email"],
  input[type="submit"],
  textarea {

    margin-bottom: 10px;
    padding: 10px;
    // font-family: sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;

  }

  input[type="text"],
  input[type="email"],
  textarea {

    width: 100%;

  }

  input[type="text"],
  input[type="email"] {

    border-bottom: 1px solid #757575;

  }

  textarea {

    height: 300px;

  }

  input[type="submit"]:hover {

    cursor: pointer;

  }

}