$breakpoint-small: 480px;

#contact {

  @media (max-width: $breakpoint-small) {

    height: 200vh;

  }

  @media (min-width: $breakpoint-small) {

    height: 100vh;

  }

  &.below {

    top: 0;
    left: 0;

  }

  .half-pane {

    box-sizing: border-box;

    &.right {

      padding: 30px;

    }

  }

}

#contact-form {

  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  h1 {

    text-align: center;
    margin-bottom: 30px;

  }

  input[type="text"],
  input[type="email"],
  input[type="submit"],
  input[type="button"],
  textarea,
  .radio-button {

    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;

  }

  input[type="text"],
  input[type="email"],
  textarea {

    width: 100%;

  }

  input[type="text"],
  input[type="email"] {

    border-bottom: 1px solid #757575;

  }

  textarea {

    height: 150px;
    border: 1px solid #757575;

  }

  input[type="button"]:hover,
  input[type="submit"]:hover {

    cursor: pointer;

  }

  .radio-button {

    display: flex;
    align-items: center;

    label {

      flex-grow: 1;
      padding-left: 10px;

    }

  }

}