$breakpoint-small: 480px;

#hero {

  height: 100vh;

  .gallery {

    background-size: cover;
    height: 100vh;

  }

  .cta {

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    img {

      @media (max-width: $breakpoint-small) {

        width: 80%;

      }

      @media (min-width: $breakpoint-small) {

        width: 40%;

      }

    }

  }

}