doctype html
html( lang="en" )
  head
    title="Karina Thomson Photography"
    meta( charset="UTF-8" )
    meta( name="Description" content="Karina Thomson Photography: A Natural Light Photographer Based In Miami who has a passion for capturing organic emotions." )
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="/css/index.css" )
  body
    script( src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin )
    script( src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin )
    script( src="/js/bundle.js" )